<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page_title | name_of_site</title>
    <meta property="og:title" content="page_title | name_of_site">
    <meta property="og:type" content="website">
    <meta property="og:description"
        content="site_meta_description">
    <meta property="og:site_name" content="name_of_site">
    <meta property="og:url" content="build_url">
    <meta property="og:image" content="build_urlassets/social.png">
    <meta property="og:image:height" content="300">
    <meta property="og:image:width" content="300">
    <meta property="og:image:type" content="image/jpeg">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="twitter_name">
    <meta name="twitter:title" content="page_title | name_of_site">
    <meta name="twitter:image" content="build_urlassets/social.png">
    <meta name="twitter:image:alt" content="page_title | name_of_site">
    <link rel="apple-touch-icon" sizes="57x57" href="build_urlassets/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="build_urlassets/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="build_urlassets/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="build_urlassets/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="build_urlassets/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="build_urlassets/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="build_urlassets/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="build_urlassets/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="build_urlassets/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="build_urlassets/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="build_urlassets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="build_urlassets/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="build_urlassets/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#5927e0">
    <meta name="msapplication-TileImage" content="build_urlassets/ms-icon-144x144.png">
    <meta name="theme-color" content="#5927e0">
    <link rel="canonical" href="build_url">
    <link rel="stylesheet" href="build_urlassets/main.css">
</head>

<body class="flow-large container">
    <header>
        <a href="/" aria-label="page_title">name_of_site</a>
    </header>
    <main>
        <article class="flow">
            page_navigation
            page_date
            page_body
        </article>
    </main>
</body>

</html>